{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "html": "infection\/infection.html",
        "text": "infection\/infection.log"
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*"
        ],
        "@default": true,
        "DecrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*",
                ".*throw new.*",
                ".*checkdate\\(\\(int\\) \\$matches\\[2\\], \\(int\\) \\$matches\\[3\\], \\(int\\) \\$matches\\[1\\]\\).*",
                ".*setDate\\(\\(int\\) \\$matches\\[3\\], \\(int\\) \\$matches\\[2\\], \\(int\\) \\$matches\\[1\\]\\).*",
                ".*setDate\\(\\(int\\) \\$matches\\[1\\], \\(int\\) \\$matches\\[2\\], \\(int\\) \\$matches\\[3\\]\\).*"
            ]
        },
        "FalseValue": {
            "ignoreSourceCodeByRegex": [
                ".*parent::__construct\\(\\$tempPath, \\$originalName \\?\\? 'up_' \\. mt_rand\\(\\), \\$mimeType, \\$error, false\\).*"
            ]
        },
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*json_decode.*",
                ".*throw new.*"
            ]
        }
    },
    "minMsi": 95,
    "minCoveredMsi": 95
}
